

/**修改菜单**/
#root .ivu-menu .ivu-menu-submenu .ivu-menu-submenu-title {
    background-color: #001529;
    overflow: hidden;
}

#root .ivu-menu .ivu-menu-submenu .ivu-menu-submenu-title:hover {
    background-color: #001529;
}

#root .ivu-menu .ivu-menu-submenu .ivu-menu {
    background-color: #000C17;
}

#root .x-Sider>.ivu-layout-sider-children>.ivu-menu>.ivu-menu-item {
    background-color: #001529;
}


.ivu-drawer-wrap .ivu-icon {
    font-size:24px  
}

.ivu-drawer-wrap .submit {
    margin-top: 24px;
    font-size: 14px;
}









